@charset "UTF-8";
html {
  height: 100%;
}

header {
  background-color: black;
  height: 100%;
  width: 20%;
  float: right;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0px;
}

.headerbtn {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1;
  color: white;
}

.fa-bars {
  font-size: 20px;
}

.fa-times {
  font-size: 20px;
}

.headermenu {
  width: 12%;
  position: fixed;
  top: 0%;
  left: 84%;
}

.headermenu h1 {
  padding: 30px 0px;
}

header img {
  height: 23px;
  width: 86px;
}

.headermenu ul {
  padding-top: 10px;
}

.headeroption {
  font-family: "Modern Antiqua", "Noto Sans JP", serif;
  font-size: 14px;
  padding: 17px 0px 18px 0px;
}

.headeroption a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.headeroption a:hover {
  text-decoration: underline;
}

.headerimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.headerimg img {
  margin-right: 15px;
  margin-top: 35px;
  width: 20px;
  height: auto;
}

.headerimg img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.minimenu {
  position: fixed;
  top: 60px;
  width: 100%;
  color: white;
  background-color: black;
  border-bottom: 1px white solid;
  display: none;
}

.minimenu li {
  padding: 20px 0px;
  border-bottom: 1px white solid;
  font-size: 14px;
  font-family: "Modern Antiqua", "Noto Sans JP", serif;
}

.minimenu li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.minimenu i {
  padding-left: 10px;
  padding-right: 15px;
  font-size: 1em;
}

.minimenuimg img {
  width: 23px;
  height: 23px;
  margin: 15px 15px 10px 15px;
}

img {
  vertical-align: bottom;
}

main {
  width: 80%;
  float: left;
  background-color: black;
}

.top img {
  width:100%;
}
.top{
  width: 100%;
  position: relative;
}
.title{
  position:absolute;
  top: 40%;
  left:40%;
  font-size: 40px;
  text-align: center;
  font-family: "Modern Antiqua", "Noto Sans JP", serif;
}

.messagetitle {
  margin: 80px 0px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  font-family: "Modern Antiqua", "Noto Sans JP", serif;
}

.messagetitle span {
  font-size: 22px;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
  color: white;
  font-family: cursive;
}

.message {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 90px;
}

.messages {
  font-family: "Noto Sans JP", Arial, Verdana, "ヒラギノ角ゴ ProN W3",
 "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 13px;
  line-height: 2em;
  font-weight: lighter;
  letter-spacing: 0.5px;
  opacity: 0.9;
}

.photowrapper img {
  width: 33.33333333333333333333%;
}

span .bigphoto {
  width: 100%;
}

.brand {
  width: 80%;
  margin: 0 auto;
}

.brand ul {
  padding-bottom: 50px;
  border-bottom: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 0% 5%;
  display: flex;
}

.brandmessage {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: justify;
  text-justify: inter-ideograph;
}

.brand img {
  width: 30%;
  border-radius: 50%;
  margin-right: 5%;
}

.project {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.project1 {
  padding-bottom: 100px;
}

.project1 img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 0% 3%;
  float: left;
}


.project1 h1 {
  color: white;
  float: none;
  padding: 0;
  font-size: 20px;
}

.secondparagraph {
  padding-top: 2em;
}

.diary{
  color: white;
  width: 80%;
  margin: 0 auto;
}

.diary h1{
  padding-top: 5%;
}
.date{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  cursor: pointer;
}

.date:hover{
  text-decoration: underline;
  opacity: 0.8;
}

.diary li{
  margin-top: 10px;
}
.siteurl a{
  color: white;
}

.hidendiary{
  display: none;
}

footer {
  width: 100%;
  padding-top: 26.5%;
  padding-bottom: 7.5%;
  color: white;
  text-align: center;
}

footer p {
  font-family: "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic,
 "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo,
 sans-serif;
  font-size: 11px;
  font-weight: 100;
}

footer a {
  color: #0066ff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


/*# sourceMappingURL=styles.css.map */